body{
  background-color: rgba(234, 103, 127, 0.1);   
  display: grid;
}

h1{
  text-align: center;
  --pink-text: 349 76% 66%;
  color: hsl(var(--pink-text));
  font-family: Courier New;
}

h4{
  text-align: center;
  font-family: Courier New;
}

.images{
  display: grid;
  gap: 1.5rem;
  grid-template-columns:  repeat(3, 1fr);
}

.imageContainerOuter{
  width: 420px;
  height: 420px;
  margin: 20px auto;
  --pink-text: 349 76% 66%;
  background-color: hsl(var(--pink-text));
  position: relative;
}

.imageContainerInner{
  top: 50%;
  left: 50%;
  position: absolute;
  margin: -185px 0 0 -185px;
}

.smykke{
  width: 370px;
  height: 370px;   
}

.priser{
  position: relative;
  margin: 30px;
  font-family: 'Courier New', Courier, monospace;
}